<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="monkey" parallel="tests" thread-count="5">

<listeners>
			<listener class-name="com.monkey.utilities.Reporting1"/>
	</listeners>
	<test name="monkey Test1" thread-count="5">
		<parameter name="browser" value="chrome" />
		<classes>
		
<!-- 			 <class name="com.bookJane.testCases.TC_BKJ_017"/>  -->

			<!-- <class name="com.monkey.testCases.TC_MON_01"/>
			<class name="com.monkey.testCases.TC_MON_02"/>
			<class name="com.monkey.testCases.TC_MON_03"/>
			<class name="com.monkey.testCases.TC_MON_04"/> -->
<!-- 			<class name="com.monkey.testCases.TC_MON_05"/> -->
			<class name="com.monkey.testCases.TC_MON_06"/>
<!-- 			<class name="com.monkey.testCases.TC_MON_07"/> -->
		</classes>
	</test>
	

	

</suite>